@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--primary-color: #d63031;
	--secondary-color: black; /*#636e72;*/
	--tertiary-color: #f1c40f;
	--font: "Poppins", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.btn {
	padding: 0.6rem 0.8rem;
	text-transform: uppercase;
	font-family: var(--font);
	font-weight: bold;
	background: var(--tertiary-color);
	color: black;
	font-size: 16px;
	text-decoration: none;
	outline: none;
	border: 2px solid var(--tertiary-color);
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 5px 10px rgb(26, 25, 25);
	border-radius: 25px;
}

.btn:hover {
	background: transparent;
}

body {
	background: black;
	font-family: var(--font);

	/*background: url(images/783418-Ong-Bak-Muay-Thai-Warrior-Tony-Jaa-Men.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;*/
}

nav {
	position: fixed;
	width: 100vw;
	height: 100px;
	border-top: 0.5rem solid var(--tertiary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999999;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	width: 15%;
	font-weight: 700;
	background-color: var(--tertiary-color);
	margin-top: -37px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 0.5px;
	border-bottom-left-radius: 42px;
}

.logo {
	gap: 1px;
}

.logo img {
	padding-bottom: 10px;
}

.logo::after {
	content: "ViKing";
	color: black;
}

ul {
	display: flex;
	align-items: center;
	height: 60px;
}

ul a {
	text-decoration: none;
	color: white;
	margin: 0 2rem;
	text-transform: uppercase;
	font-family: var(--font);
	font-weight: 700;
	font-size: 16px;
}

ul li {
	list-style: none;
}

ul a:hover {
	color: #d63031;
}

.banner {
	background: url(images/783418-Ong-Bak-Muay-Thai-Warrior-Tony-Jaa-Men.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 100vh;
}

#SLIDE_BG {
	animation: slideBg 20s linear infinite 0s;
	animation-timing-function: ease-in-out;
}

.msg-container {
	width: 600px;
	height: 350px;
	position: absolute;
	left: 14%;
	top: 5%;
	transform: translateY(50%);
	overflow: hidden;
}

#slider {
	display: inline-flex;
	transition: 0.5s;
}

.msg-col {
	width: 600px;
	height: 280px;
}

.msg-col h2 {
	color: #fff;
	font: var(--font);
	font-size: 24px;
	font-weight: 100;
	margin: 10px 0;
}

.msg-col p {
	color: #d63031;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
}

.msg-col .btn {
	margin-top: 2rem;
}

.controller {
	width: 1px;
	height: 320px;
	display: block;
	background: #c0c0c0;
	position: absolute;
	top: 52%;
	right: 40%;
	transform: translateY(-50%);
}
#line1,
#line2,
#line3,
#line4 {
	height: 80px;
	width: 10px;
	cursor: pointer;
	transform: translateX(-50%);
}

#active {
	width: 5px;
	height: 80px;
	border-radius: 10px;
	background: #fff;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: 0.5s;
}

/*.intro {
	position: absolute;
	top: 30%;
	left: 10%;
	color: white;
	width: 600px;
	height: 280px;
	transform: translateY(-50%);
}

.intro h2,
p {
	display: block;
	width: 60%;
}

.intro h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 23px;
	padding-bottom: 10px;
}

.intro .btn {
	margin-top: 2rem;
}

#slider {
	display: inline-flex;
}

/*.msg-col {
	width: 600px;
	height: 280px;
	
}*/

.row {
	display: flex;
	justify-content: center;
}

.card1 {
	width: 50%;
	height: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-top-right-radius: 50px;
}

.card2 {
	width: 50%;
	height: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.card h2 {
	text-transform: uppercase;
}

@keyframes slideBg {
	0% {
		background-image: url(images/783418-Ong-Bak-Muay-Thai-Warrior-Tony-Jaa-Men.jpg);
		background-size: 100%;
	}

	25% {
		background-image: url(images/athlete-black-and-white-boxer-boxing-gloves.jpg);
		background-size: 100%;
	}

	50% {
		background-image: url(images/depositphotos_69872583-stock-photo-thai-boxing-artem-levin-in.jpg);
		background-size: 100%;
	}

	75% {
		background-image: url(images/desktop-wallpaper-what-is-the-ram-muay-k-star-legacy-muay-thai.jpg);
		background-size: 100%;
	}

	100% {
		background-image: url(images/muay-thai-ring-fight.jpg);
		background-size: 100%;
	}
}
